@import './primevue/index';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  color: #282828;
  background: #f2f2f2;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    Roboto,
    Oxygen,
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
}

#header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: #3F51B5 solid 2px;
}

#main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.w-full {
  width: 100%;
}

.fw-700 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.error p {
  margin: 1px 0;
  font-size: 12px;
  color: darkred;
}

.link {
  color: #3F51B5;
  font-weight: 600;
  text-decoration: none;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.authForm {
  width: 400px;
}

.infoCard {
  width: 400px;
}
